<p>Здравствуйте, <%= name %>!</p>
<p>Сообщаем вам, что вы были заблокированы на нашем сайте по причине "<%= blockReason %>". Вы можете связаться с нами через поддержку.</p>
<p></p>
<p>С уважением, ваша команда EQ.</p>
<p><%= emailSupport %></p>
