<p>Здравствуйте, <%= name %>!</p>
<p>Вам отказали в правах на владение квестом <a href="<%= questLink %>"><%= quest.title %></a>.</p>
<p></p>
<p>С уважением, ваша команда EQ.</p>
<p><%= emailSupport %></p>
