<p>Здравствуйте, <%= name %>!</p>
<p>Перейдите по <a href="<%= confirmationLink %>">ссылке</a>, чтобы подтвердить свой email адрес.</p>
<p>Если вы этого не делали, проигнорируйте это письмо.</p>
<p></p>
<p>С уважением, ваша команда EQ.</p>
<p><%= emailSupport %></p>
