<p>Здравствуйте, <%= name %>!</p>
<p>Сообщаем вам, что вы были разблокированы на нашем сайте. Спасибо за то, что вы с нами!</p>
<p></p>
<p>С уважением, ваша команда EQ.</p>
<p><%= emailSupport %></p>
