<p>Здравствуйте, <%= name %>! Вы приглашены на сайт ExpertQuest как <%= role %>.</p>
<p>Перейдите по <a href="<%= invitationLink %>">ссылке</a>, чтобы зарегистрироваться.</p>
<p>Пожалуйста, заполните поле "почта". Это необходимо для получения уведомлений.</p>
<p></p>
<p>С уважением, ваша команда EQ.</p>
<p><%= emailSupport %></p>
