<p>Здравствуйте, <%= name %>!</p>
<p>На сайте ExpertQuest была подана заявка на привязку адреса <%= emailUnconfirmed %> к вашему аккаунту.</p>
<p>После подтверждения нового e-mail адреса привязка будет завершена.</p>
<p></p>
<p>С уважением, ваша команда EQ.</p>
<p><%= emailSupport %></p>
